In [1]:
import numpy as np
import pandas as pd

# Read the CSV file. Use the 2nd row as the header (as the first row has empty data)
# Consider "-" as NaN value. 
team_data = pd.read_csv('../data/Laliga.csv', header=1, na_values='-')
# Now replace NaN with 0
team_data.fillna(0, axis=1, inplace=True)
# past_data.dtypes
team_data

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385.0,2762.0,1647.0,552.0,563.0,5947.0,3140.0,33.0,23.0,8.0,8.0,3.0,4.0,79.0,1929,1929,1
1,2,Barcelona,86,4262.0,2762.0,1581.0,573.0,608.0,5900.0,3114.0,25.0,25.0,12.0,12.0,4.0,6.0,83.0,1929,1929,1
2,3,Atletico Madrid,80,3442.0,2614.0,1241.0,598.0,775.0,4534.0,3309.0,10.0,8.0,16.0,9.0,7.0,6.0,56.0,1929,2002-03,1
3,4,Valencia,82,3386.0,2664.0,1187.0,616.0,861.0,4398.0,3469.0,6.0,6.0,10.0,11.0,10.0,7.0,50.0,1931-32,1987-88,1
4,5,Athletic Bilbao,86,3368.0,2762.0,1209.0,633.0,920.0,4631.0,3700.0,8.0,7.0,10.0,5.0,8.0,10.0,49.0,1929,1929,1
5,6,Sevilla,73,2819.0,2408.0,990.0,531.0,887.0,3680.0,3373.0,1.0,4.0,4.0,5.0,12.0,6.0,32.0,1934-35,2001-02,1
6,7,Espanyol,82,2792.0,2626.0,948.0,608.0,1070.0,3609.0,3889.0,0.0,0.0,4.0,5.0,2.0,5.0,16.0,1929,1994-95,3
7,8,Real Sociedad,70,2573.0,2302.0,864.0,577.0,861.0,3228.0,3230.0,2.0,3.0,2.0,5.0,4.0,3.0,19.0,1929,2010-11,1
8,9,Zaragoza,58,2109.0,1986.0,698.0,522.0,766.0,2683.0,2847.0,0.0,1.0,4.0,5.0,4.0,4.0,18.0,1939-40,2012-13,2
9,10,Real Betis,51,1884.0,1728.0,606.0,440.0,682.0,2159.0,2492.0,1.0,0.0,2.0,3.0,4.0,4.0,14.0,1932-33,2015-16,1
10,11,Deportivo La Coruna,45,1814.0,1530.0,563.0,392.0,575.0,2052.0,2188.0,1.0,5.0,4.0,1.0,0.0,1.0,12.0,1941-42,2014-15,1
11,12,Celta Vigo,51,1789.0,1698.0,586.0,389.0,723.0,2278.0,2624.0,0.0,0.0,0.0,2.0,4.0,5.0,11.0,1939-40,2012-13,4
12,13,Valladolid,42,1471.0,1466.0,463.0,384.0,619.0,1767.0,2180.0,0.0,0.0,0.0,1.0,1.0,1.0,3.0,1948-49,2013-14,4
13,14,Racing Santander,44,1416.0,1428.0,453.0,336.0,639.0,1843.0,2368.0,0.0,1.0,1.0,2.0,0.0,1.0,5.0,1929,2011-12,2
14,15,Sporting Gijon,43,1389.0,1458.0,471.0,358.0,629.0,1753.0,2152.0,0.0,1.0,1.0,2.0,2.0,1.0,7.0,1944-45,2015-16,2
15,16,Osasuna,37,1351.0,1318.0,426.0,327.0,565.0,1500.0,1834.0,0.0,0.0,0.0,2.0,2.0,2.0,6.0,1935-36,2016-17,4
16,17,Malaga,36,1314.0,1255.0,390.0,330.0,535.0,1421.0,1763.0,0.0,0.0,0.0,1.0,0.0,1.0,2.0,1949-50,2008-09,4
17,18,Oviedo,38,1174.0,1192.0,408.0,292.0,492.0,1642.0,1951.0,0.0,0.0,3.0,2.0,2.0,4.0,11.0,1933-34,2000-01,3
18,19,Mallorca,27,1148.0,988.0,333.0,256.0,399.0,1182.0,1371.0,0.0,0.0,2.0,0.0,2.0,1.0,5.0,1960-61,2012-13,3
19,20,Las Palmas,33,1020.0,1096.0,367.0,242.0,487.0,1347.0,1746.0,0.0,1.0,1.0,1.0,1.0,1.0,5.0,1951-52,2015-16,2
20,21,Villarreal,17,970.0,646.0,266.0,172.0,208.0,892.0,789.0,0.0,1.0,1.0,2.0,3.0,2.0,9.0,1998-99,2013-14,2
21,22,Granada,23,667.0,742.0,218.0,175.0,349.0,819.0,1157.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0,1941-42,2016-17,6
22,23,Rayo Vallecano,17,662.0,652.0,189.0,148.0,305.0,760.0,1088.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1977-78,2015-16,8
23,24,Elche,21,606.0,678.0,203.0,180.0,295.0,750.0,1022.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,1959-60,2014-15,5
24,25,Getafe,12,553.0,456.0,147.0,112.0,197.0,520.0,633.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2004-05,2015-16,6
25,26,Hercules,20,538.0,628.0,184.0,149.0,295.0,716.0,1050.0,0.0,0.0,0.0,0.0,1.0,4.0,5.0,1935-36,2010-11,5
26,27,Tenerife,13,510.0,494.0,155.0,128.0,211.0,619.0,744.0,0.0,0.0,0.0,0.0,2.0,0.0,2.0,1961-62,2009-10,5
27,28,Murcia,18,445.0,586.0,145.0,143.0,298.0,607.0,992.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1940-41,2007-08,11
28,29,Alaves,12,421.0,380.0,125.0,81.0,174.0,458.0,623.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1930-31,2016-17,6
29,30,Levante,11,416.0,402.0,113.0,95.0,194.0,430.0,632.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1963-64,2015-16,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31,32,Sabadell,14,353.0,426.0,129.0,95.0,202.0,492.0,720.0,0.0,0.0,0.0,1.0,1.0,0.0,2.0,1943-44,1987-88,4
32,33,Cadiz,12,343.0,448.0,104.0,127.0,217.0,393.0,662.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1977-78,2005-06,12
33,34,Logrones,9,293.0,346.0,96.0,92.0,158.0,291.0,489.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1987-88,1996-97,7
34,35,Castellon,11,285.0,334.0,103.0,79.0,152.0,419.0,588.0,0.0,0.0,0.0,1.0,2.0,0.0,3.0,1941-42,1990-91,4
35,36,Albacete,7,277.0,270.0,76.0,76.0,118.0,320.0,410.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1991-92,2004-05,7
36,37,Almeria,6,242.0,228.0,62.0,56.0,110.0,244.0,366.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2007-08,2014-15,8
37,38,Cordoba,9,230.0,282.0,82.0,63.0,137.0,285.0,430.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1962-63,2014-15,5
38,39,Compostela,4,190.0,160.0,52.0,45.0,63.0,199.0,241.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1994-95,1997-98,10
39,40,Recreativo,5,188.0,186.0,50.0,46.0,90.0,202.0,296.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1978-79,2008-09,8
40,41,Burgos CF,6,168.0,204.0,59.0,50.0,95.0,216.0,310.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1971-72,1979-80,12
41,42,Pontevedra,6,150.0,180.0,53.0,44.0,83.0,165.0,221.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1963-64,1969-70,7
42,43,Numancia,4,148.0,152.0,37.0,37.0,78.0,155.0,253.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1999-00,2008-09,17
43,44,Eibar,3,132.0,114.0,35.0,27.0,52.0,139.0,167.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2014-15,2014-15,10
44,45,Arenas,7,107.0,130.0,43.0,21.0,66.0,227.0,308.0,0.0,0.0,1.0,0.0,3.0,0.0,4.0,1929,1934-35,3
45,46,Real Burgos,3,96.0,114.0,26.0,44.0,44.0,101.0,139.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1990-91,1992-93,9
46,47,Gimnastic,4,91.0,116.0,34.0,16.0,66.0,181.0,295.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1947-48,2006-07,7
47,48,Extremadura,2,83.0,80.0,20.0,23.0,37.0,62.0,117.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1996-97,1998-99,17
48,49,Merida,2,81.0,80.0,19.0,24.0,37.0,70.0,115.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1995-96,1997-98,19
49,50,Alcoyano,4,76.0,108.0,30.0,16.0,62.0,145.0,252.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1945-46,1950-51,10
50,51,Jaen,3,71.0,90.0,29.0,13.0,48.0,121.0,183.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1953-54,1957-58,14
51,52,Real Union,4,56.0,72.0,21.0,14.0,37.0,153.0,184.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1929,1931-32,6
52,53,AD Almeria,2,52.0,68.0,17.0,18.0,33.0,71.0,116.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1979-80,1980-81,10
53,54,Europa,3,42.0,54.0,18.0,6.0,30.0,97.0,131.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1929,1930-31,8
54,55,Lleida,2,40.0,68.0,13.0,14.0,41.0,70.0,182.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1950-51,1993-94,16
55,56,Leganes,1,35.0,38.0,8.0,11.0,19.0,36.0,55.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2016-17,2016-17,17
56,57,Xerez,1,34.0,38.0,8.0,10.0,20.0,38.0,66.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2009-10,2009-10,20
57,58,Condal,1,22.0,30.0,7.0,8.0,15.0,37.0,57.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1956-57,1956-57,16
58,59,Atletico Tetuan,1,19.0,30.0,7.0,5.0,18.0,51.0,85.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1951-52,1951-52,16
59,60,Cultural Leonesa,1,14.0,30.0,5.0,4.0,21.0,34.0,65.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1955-56,1955-56,15
60,61,Girona,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2017-18,2017-18,9

In [2]:
# This method takes in the teams data, extracts out the 'Debut' data (list).
# Filters out all rows that do not fall between the provided "debut_from" and "debut_to".
def find_teams_who_debuted_between(team_data, debut_from, debut_to):
    # Extract the Debut column.
    team_debut_data = team_data['Debut'];
    
    # Empty array to hold the decisions (True / False) indicating if the row should be
    # included in the final subset or not.
    filtered_rows = []
    
    for team_debut in team_debut_data:
        # Data type of 'Debut' column is Object. Convert it into a string and then split by "-"
        # as in some cases, the debut value is shown as a range.
        debut_year_duration = str(team_debut).split('-')
        
        if len(debut_year_duration) > 2:
            # This case shouldn't arise as the duration is expressed in one of the below formats:
            # 1930, 1930-32, 2017-18, etc.
            print("Don't know how to handle...")
        elif len(debut_year_duration) == 2:
            # This could be something on the lines: 1930-32, 2017-18, etc.
            debut_duration_from = int(debut_year_duration[0])
            debut_duration_to = int(debut_year_duration[0][0:2] + debut_year_duration[1])
            filtered_rows.append(debut_duration_from >= debut_from and debut_duration_to <= debut_to)
        else:
            debut_year = int(debut_year_duration[0])
            filtered_rows.append(debut_year >= debut_from and debut_year <= debut_to)
    return team_data.loc[filtered_rows]

# Teams who have started playing between 1930 - 1980
print("List of teams who have debuted between 1930 and 1980 are shown below")
find_teams_who_debuted_between(team_data, 1930, 1980)

List of teams who have debuted between 1930 and 1980 are shown below

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
3,4,Valencia,82,3386.0,2664.0,1187.0,616.0,861.0,4398.0,3469.0,6.0,6.0,10.0,11.0,10.0,7.0,50.0,1931-32,1987-88,1
5,6,Sevilla,73,2819.0,2408.0,990.0,531.0,887.0,3680.0,3373.0,1.0,4.0,4.0,5.0,12.0,6.0,32.0,1934-35,2001-02,1
8,9,Zaragoza,58,2109.0,1986.0,698.0,522.0,766.0,2683.0,2847.0,0.0,1.0,4.0,5.0,4.0,4.0,18.0,1939-40,2012-13,2
9,10,Real Betis,51,1884.0,1728.0,606.0,440.0,682.0,2159.0,2492.0,1.0,0.0,2.0,3.0,4.0,4.0,14.0,1932-33,2015-16,1
10,11,Deportivo La Coruna,45,1814.0,1530.0,563.0,392.0,575.0,2052.0,2188.0,1.0,5.0,4.0,1.0,0.0,1.0,12.0,1941-42,2014-15,1
11,12,Celta Vigo,51,1789.0,1698.0,586.0,389.0,723.0,2278.0,2624.0,0.0,0.0,0.0,2.0,4.0,5.0,11.0,1939-40,2012-13,4
12,13,Valladolid,42,1471.0,1466.0,463.0,384.0,619.0,1767.0,2180.0,0.0,0.0,0.0,1.0,1.0,1.0,3.0,1948-49,2013-14,4
14,15,Sporting Gijon,43,1389.0,1458.0,471.0,358.0,629.0,1753.0,2152.0,0.0,1.0,1.0,2.0,2.0,1.0,7.0,1944-45,2015-16,2
15,16,Osasuna,37,1351.0,1318.0,426.0,327.0,565.0,1500.0,1834.0,0.0,0.0,0.0,2.0,2.0,2.0,6.0,1935-36,2016-17,4
16,17,Malaga,36,1314.0,1255.0,390.0,330.0,535.0,1421.0,1763.0,0.0,0.0,0.0,1.0,0.0,1.0,2.0,1949-50,2008-09,4
17,18,Oviedo,38,1174.0,1192.0,408.0,292.0,492.0,1642.0,1951.0,0.0,0.0,3.0,2.0,2.0,4.0,11.0,1933-34,2000-01,3
18,19,Mallorca,27,1148.0,988.0,333.0,256.0,399.0,1182.0,1371.0,0.0,0.0,2.0,0.0,2.0,1.0,5.0,1960-61,2012-13,3
19,20,Las Palmas,33,1020.0,1096.0,367.0,242.0,487.0,1347.0,1746.0,0.0,1.0,1.0,1.0,1.0,1.0,5.0,1951-52,2015-16,2
21,22,Granada,23,667.0,742.0,218.0,175.0,349.0,819.0,1157.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0,1941-42,2016-17,6
22,23,Rayo Vallecano,17,662.0,652.0,189.0,148.0,305.0,760.0,1088.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1977-78,2015-16,8
23,24,Elche,21,606.0,678.0,203.0,180.0,295.0,750.0,1022.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,1959-60,2014-15,5
25,26,Hercules,20,538.0,628.0,184.0,149.0,295.0,716.0,1050.0,0.0,0.0,0.0,0.0,1.0,4.0,5.0,1935-36,2010-11,5
26,27,Tenerife,13,510.0,494.0,155.0,128.0,211.0,619.0,744.0,0.0,0.0,0.0,0.0,2.0,0.0,2.0,1961-62,2009-10,5
27,28,Murcia,18,445.0,586.0,145.0,143.0,298.0,607.0,992.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1940-41,2007-08,11
28,29,Alaves,12,421.0,380.0,125.0,81.0,174.0,458.0,623.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1930-31,2016-17,6
29,30,Levante,11,416.0,402.0,113.0,95.0,194.0,430.0,632.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1963-64,2015-16,6
30,31,Salamanca,12,375.0,423.0,123.0,102.0,198.0,422.0,581.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1974-75,1998-99,7
31,32,Sabadell,14,353.0,426.0,129.0,95.0,202.0,492.0,720.0,0.0,0.0,0.0,1.0,1.0,0.0,2.0,1943-44,1987-88,4
32,33,Cadiz,12,343.0,448.0,104.0,127.0,217.0,393.0,662.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1977-78,2005-06,12
34,35,Castellon,11,285.0,334.0,103.0,79.0,152.0,419.0,588.0,0.0,0.0,0.0,1.0,2.0,0.0,3.0,1941-42,1990-91,4
37,38,Cordoba,9,230.0,282.0,82.0,63.0,137.0,285.0,430.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1962-63,2014-15,5
39,40,Recreativo,5,188.0,186.0,50.0,46.0,90.0,202.0,296.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1978-79,2008-09,8
40,41,Burgos CF,6,168.0,204.0,59.0,50.0,95.0,216.0,310.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1971-72,1979-80,12
41,42,Pontevedra,6,150.0,180.0,53.0,44.0,83.0,165.0,221.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1963-64,1969-70,7
42,43,Numancia,4,148.0,152.0,37.0,37.0,78.0,155.0,253.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1999-00,2008-09,17
46,47,Gimnastic,4,91.0,116.0,34.0,16.0,66.0,181.0,295.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1947-48,2006-07,7
49,50,Alcoyano,4,76.0,108.0,30.0,16.0,62.0,145.0,252.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1945-46,1950-51,10
50,51,Jaen,3,71.0,90.0,29.0,13.0,48.0,121.0,183.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1953-54,1957-58,14
52,53,AD Almeria,2,52.0,68.0,17.0,18.0,33.0,71.0,116.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1979-80,1980-81,10
54,55,Lleida,2,40.0,68.0,13.0,14.0,41.0,70.0,182.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1950-51,1993-94,16
57,58,Condal,1,22.0,30.0,7.0,8.0,15.0,37.0,57.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1956-57,1956-57,16
58,59,Atletico Tetuan,1,19.0,30.0,7.0,5.0,18.0,51.0,85.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1951-52,1951-52,16
59,60,Cultural Leonesa,1,14.0,30.0,5.0,4.0,21.0,34.0,65.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1955-56,1955-56,15

In [3]:
# Find top 5 teams in terms of points
# Group the data by Team (to handle cases where there are multiple records for the same team)
grouped_by_team = team_data.groupby(by='Team')

print("--- Top 5 teams w.r.t points accumulated ---")
# Apply the aggregation operation on the grouped data
grouped_by_team['Points'] \
    .agg(np.sum) \
    .sort_values(ascending=False) \
    .head(5)

--- Top 5 teams w.r.t points accumulated ---

Team
Real Madrid        4385.0
Barcelona          4262.0
Atletico Madrid    3442.0
Valencia           3386.0
Athletic Bilbao    3368.0
Name: Points, dtype: float64

In [4]:
# This method calculates the Goal difference count and returns the dataframe
# with an additional column that holds the goal difference count.
def Goal_diff_count(teams):
    # Calculate the goal difference and add to 'GoalDifferenceCount' column
    teams['GoalDifferenceCount'] = teams['GoalsFor'] - teams['GoalsAgainst']
    return teams

# Get the goal difference count and print it (last column in the data frame).
Goal_diff_count(team_data)

# Now sort the data in a descending mode by 'GoalDifferenceCount' column
# We do not want to do inplace sorting as we do not want to disturb the original dataset
team_data_sorted_by_gdf = team_data.sort_values(by = 'GoalDifferenceCount', ascending=False)

# First record in the data frame has the maximum goal difference count, while
# the last record in the data frame has the minimum goal difference count.
top_team = team_data_sorted_by_gdf.head(1)
top_team_name = top_team['Team'][0]
top_team_goal_diff = top_team['GoalDifferenceCount'][0]

# Calculate the index of the last row (after sorting)
last_row_index = team_data_sorted_by_gdf.index[len(team_data_sorted_by_gdf) - 1]
bottom_team = team_data_sorted_by_gdf.tail(1)
bottom_team_name = bottom_team['Team'][last_row_index]
bottom_team_goal_diff = bottom_team['GoalDifferenceCount'][last_row_index]

print("Team '{}' has maximum goal difference count of {}".format(top_team_name, top_team_goal_diff))
print("Team '{}' has minimum goal difference count of {}".format(bottom_team_name, bottom_team_goal_diff))

# Finally delete the 'GoalDifferenceCount' column
del(team_data['GoalDifferenceCount'])

Team 'Real Madrid' has maximum goal difference count of 2807.0
Team 'Racing Santander' has minimum goal difference count of -525.0

In [5]:
# Add a new column for Winning Percentage.

team_data['WinningPercent'] = (team_data['GamesWon'] / team_data['GamesPlayed']) * 100
team_data.fillna(0, axis=1, inplace=True)

print("--- Top 5 teams that have the highest winning percentage ---")
team_data.sort_values(by = 'WinningPercent', ascending=False).head(5)

--- Top 5 teams that have the highest winning percentage ---

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,WinningPercent
0,1,Real Madrid,86,4385.0,2762.0,1647.0,552.0,563.0,5947.0,3140.0,...,23.0,8.0,8.0,3.0,4.0,79.0,1929,1929,1,59.630702
1,2,Barcelona,86,4262.0,2762.0,1581.0,573.0,608.0,5900.0,3114.0,...,25.0,12.0,12.0,4.0,6.0,83.0,1929,1929,1,57.241130
2,3,Atletico Madrid,80,3442.0,2614.0,1241.0,598.0,775.0,4534.0,3309.0,...,8.0,16.0,9.0,7.0,6.0,56.0,1929,2002-03,1,47.475134
3,4,Valencia,82,3386.0,2664.0,1187.0,616.0,861.0,4398.0,3469.0,...,6.0,10.0,11.0,10.0,7.0,50.0,1931-32,1987-88,1,44.557057
4,5,Athletic Bilbao,86,3368.0,2762.0,1209.0,633.0,920.0,4631.0,3700.0,...,7.0,10.0,5.0,8.0,10.0,49.0,1929,1929,1,43.772629

In [6]:
# Group teams based on their â€œBest positionâ€ and print the sum of their points for all positions

# We shall group by multiple attributes. Here, we are first grouping by 'Best Position' followed by 'Team'

# NOTE: Please see the below cell for another variation of first grouping by 'Team'
# followed by 'BestPosition'

print("--- Teams grouped by 'Best Position' and their 'Points' ---")
print("--- Dataset is grouped first on 'BestPosition' followed by 'Team' ---")

grouped_by_team_bp = team_data.groupby(by=['BestPosition', 'Team'])

# Apply the aggregation operation on the grouped data
grouped_by_team_bp[['Points']] \
    .sum() \
    .sort_values(by=['BestPosition', 'Points', 'Team'], ascending=[True, False, True])

--- Teams grouped by 'Best Position' and their 'Points' ---
--- Dataset is grouped first on 'BestPosition' followed by 'Team' ---

                                  Points
BestPosition Team
1            Real Madrid          4385.0
             Barcelona            4262.0
             Atletico Madrid      3442.0
             Valencia             3386.0
             Athletic Bilbao      3368.0
             Sevilla              2819.0
             Real Sociedad        2573.0
             Real Betis           1884.0
             Deportivo La Coruna  1814.0
2            Zaragoza             2109.0
             Racing Santander     1416.0
             Sporting Gijon       1389.0
             Las Palmas           1020.0
             Villarreal            970.0
3            Espanyol             2792.0
             Oviedo               1174.0
             Mallorca             1148.0
             Arenas                107.0
4            Celta Vigo           1789.0
             Valladolid           1471.0
             Osasuna              1351.0
             Malaga               1314.0
             Sabadell              353.0
             Castellon             285.0
5            Elche                 606.0
             Hercules              538.0
             Tenerife              510.0
             Cordoba               230.0
6            Granada               667.0
             Getafe                553.0
...                                  ...
             Levante               416.0
             Real Union             56.0
7            Salamanca             375.0
             Logrones              293.0
             Albacete              277.0
             Pontevedra            150.0
             Gimnastic              91.0
8            Rayo Vallecano        662.0
             Almeria               242.0
             Recreativo            188.0
             Europa                 42.0
9            Real Burgos            96.0
             Girona                  0.0
10           Compostela            190.0
             Eibar                 132.0
             Alcoyano               76.0
             AD Almeria             52.0
11           Murcia                445.0
12           Cadiz                 343.0
             Burgos CF             168.0
14           Jaen                   71.0
15           Cultural Leonesa       14.0
16           Lleida                 40.0
             Condal                 22.0
             Atletico Tetuan        19.0
17           Numancia              148.0
             Extremadura            83.0
             Leganes                35.0
19           Merida                 81.0
20           Xerez                  34.0

[61 rows x 1 columns]

In [7]:
print("--- Teams grouped by 'Best Position' and their 'Points' ---")
print("--- Dataset is grouped first on 'Team' followed by 'BestPosition' ---")

# Another variation from the above is to first group by 'Team' followed by 'Best Position'
grouped_by_team_bp = team_data.groupby(by=['Team', 'BestPosition'])

# Apply the aggregation operation on the grouped data
grouped_by_team_bp[['Points']] \
    .sum() \
    .sort_values(by=['BestPosition', 'Points', 'Team'], ascending=[True, False, True])

--- Teams grouped by 'Best Position' and their 'Points' ---
--- Dataset is grouped first on 'Team' followed by 'BestPosition' ---

                                  Points
Team                BestPosition
Real Madrid         1             4385.0
Barcelona           1             4262.0
Atletico Madrid     1             3442.0
Valencia            1             3386.0
Athletic Bilbao     1             3368.0
Sevilla             1             2819.0
Real Sociedad       1             2573.0
Real Betis          1             1884.0
Deportivo La Coruna 1             1814.0
Zaragoza            2             2109.0
Racing Santander    2             1416.0
Sporting Gijon      2             1389.0
Las Palmas          2             1020.0
Villarreal          2              970.0
Espanyol            3             2792.0
Oviedo              3             1174.0
Mallorca            3             1148.0
Arenas              3              107.0
Celta Vigo          4             1789.0
Valladolid          4             1471.0
Osasuna             4             1351.0
Malaga              4             1314.0
Sabadell            4              353.0
Castellon           4              285.0
Elche               5              606.0
Hercules            5              538.0
Tenerife            5              510.0
Cordoba             5              230.0
Granada             6              667.0
Getafe              6              553.0
...                                  ...
Levante             6              416.0
Real Union          6               56.0
Salamanca           7              375.0
Logrones            7              293.0
Albacete            7              277.0
Pontevedra          7              150.0
Gimnastic           7               91.0
Rayo Vallecano      8              662.0
Almeria             8              242.0
Recreativo          8              188.0
Europa              8               42.0
Real Burgos         9               96.0
Girona              9                0.0
Compostela          10             190.0
Eibar               10             132.0
Alcoyano            10              76.0
AD Almeria          10              52.0
Murcia              11             445.0
Cadiz               12             343.0
Burgos CF           12             168.0
Jaen                14              71.0
Cultural Leonesa    15              14.0
Lleida              16              40.0
Condal              16              22.0
Atletico Tetuan     16              19.0
Numancia            17             148.0
Extremadura         17              83.0
Leganes             17              35.0
Merida              19              81.0
Xerez               20              34.0

[61 rows x 1 columns]